@font-face {
    font-family: "PPMondwest-regular";
    src:
    local("PPMondwest-regular"),
    url('../fonts/PPMondwest-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
